.container
  .row
    %b.col-md-4 Location:
    .col-md-4= @muster.location
  .row
    %b.col-md-4 Time:
    .col-md-4
      = @muster.start_time
      to
      = @muster.end_time
  .row
    %b.col-md-4 Description:
    .col-md-4= @muster.description
  .row
    %b.col-md-4 Notes:
    .col-md-4= @muster.notes
  
  .row
    %b.col-md-4 Pictures:
    .col-md-4= link_to "Add A Picture", new_image_path+"?muster_id=#{@muster.id}"
    %ul
      - @muster.approved_images.each do |image|
        %li=image_tag image.file.url(:thumb)
  
  .row
    %b.col-md-4 Labors:
    .col-md-4= link_to "View", labors_path+"?muster_id=#{@muster.id}"
  
  .col-md-4.col-md-offset-8= link_to 'Edit', edit_community_project_muster_path(@community, @project, @muster)
