.container
  .row
    %b.col-md-4 Hours:
    .col-md-4= @labor.hours
  .row
    %b.col-md-4 Notes:
    .col-md-4= @labor.notes
  .row
    %b.col-md-4 Status:
    .col-md-4= @labor.status
  - if @labor.pledge
    .row
      %b.col-md-4 Pledge:
      .col-md-4= link_to "pledge", [@project.community, @project, @labor.pledge]
  - if @labor.muster
    .row
      %b.col-md-4 Muster:
      .col-md-4= link_to "muster", [@project.community, @project, @labor.muster]
  - if @labor.check_ins.any?
    .row
      %b.col-md-4 Check-in(s):
      .col-md-4= link_to "check-ins", user_check_ins_path(@user)
  
  .row
    %b.col-md-4 Ratings:
    .col-md-4= link_to 'View', labor_ratings_path(@labor)
  
  - if current_user.id == @labor.user_id or current_user.is_admin_of?(@labor.project)
    .col-md-4.col-md-offset-8= link_to 'Edit', edit_labor_path(@labor)
